<!-- new login -->
<div class="container">
  <%= form_tag({controller: 'sessions', action: 'new', method: 'POST'}) do %>
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" name="login">
  <% end %>
</div>
